/*
Theme Name: Sniper
Author: Juuso Palander
Description: Theme for Sniper Analytics
Version: 1.0
*/

/*------
#Layout
-------*/

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.full-width	{
width: 100%;
overflow: hidden;
}

.full-width > .container {
    overflow: hidden;
    margin: 0 auto;
    padding: 50px;
}

/*--------------
#Colors
---------------*/

body {
background: url('patterns/footer_lodyas.png');
}

a, .highlight {
color: #FF4141;
}

.dark-grey {
    background: #222;
    color: #ccc;
}

.grey {
    background: #333;
    color: #a6a6a6;
}

.light-grey {
    background: #eee;
    color: #222;
}

.sniper-red {
    background: #ff4141;
    color: #6a0004;
}

span.sniper-red {
    background: none;
    color: #ff4141;
}

/*----------
#Typography
-----------*/

body {
font-family: 'Roboto Slab', serif;
font-weight: 300;
font-size: 22px;
}

h1,h2,h3,h4, h5, h6 {
font-family: 'Roboto Slab', sans-serif;
font-weight: 700;
}

h1 {
font-size: 36px;
margin: 36px 0;
}

h2 {
font-size: 30px;
margin: 30px 0;
}

h3 {
font-size: 22px;
margin: 22px 0;
}

h4 {
font-size: 18px;
margin: 18px 0;
}

p {
line-height: 36px;
margin-bottom: 22px;
}

ul, ol {
line-height: 28px;
margin: 36px 0;
padding-left: 40px;
font-size: 20px;
}

ol > li, ul > li {
margin-bottom: 10px;
}

a {
text-decoration: none;
}

/*--------------
Generic Classes
---------------*/

.button-container {
    background: #d7d7d7;
    background: -moz-linear-gradient(top,  #ffffff 0%, #d7d7d7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d7d7d7));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d7d7d7 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#d7d7d7 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#d7d7d7 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#d7d7d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7d7d7',GradientType=0 );
}

.button {
 color: #333;
 font-weight: 300;
}

.button:hover {

}

.title {
    text-align: center;
    margin: 0 0 50px 0;
}

.title h2 {
    margin: 0 0 10px 0;
}

.subtitle {

}

.row {
    margin: 50px 0;
}

.row h3 {
    margin: 0 0 25px 0;
}

.row p {
    font-size: 20px;
    line-height: 30px;
}

.sub {
    display: block;
}

.small {
    font-size: 16px;
}

.tooltip {
    cursor: pointer;
}

/*------
#Header
-------*/

#site-header {
    color: #eee;
    background: #222;
}

#site-header > .container {
    padding: 25px;
}

#site-header h1 {

}

/*--------------
Navigation Menu
---------------*/

#logo {
    float: left;
}

#logo > img {
    padding: 0 10px;
    float: left;
}

#logo span {
    font-weight: 700;
    float: left;
    margin-top: 23px;
    color: #ff4141;
    line-height: 28px;
}

#logo:hover {

}

#top-nav {
    float: right;
}

nav ul {
    list-style: none;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    margin: 23px 0 0 0;
}

nav ul > li {
    float: left;
    padding-right: 50px;
    margin: 0;
}

nav ul > li.last {
    padding-right: 0;
}

nav a {
    color: #eee;
}

/*----------
#Front-Page
-----------*/



/*-----
#intro
------*/

#intro {
    height: 680px;
    background-image: url('images/intro-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
    background-position: top center;
    position: relative;
    box-shadow: 0 1px 3px #111;
}

/*------------
#featured-cta
-------------*/

#featured-cta {
    float: right;
    width: 50%;
    margin: 125px 40px 0 0;
    color: #eee;
}

#featured-cta .top {
    background: rgba(0,0,0,0.75);
    padding: 25px;
}

#featured-cta h1 {
    text-align: center;
    font-size: 40px;
    margin: 25px 0;
}

#featured-cta p {
    color: #ccc;
}

#featured-cta .button-container {
    margin-top: 5px;
    border-radius: 5px;
}

#featured-cta .button {
    line-height: 46px;
    font-weight: 300;
    padding: 25px;
    display: block;
}

#featured-cta .button img {
    float: left;
    margin-right: 20px;
}

/*--------
#benefits
---------*/

/*--------
#pricing
---------*/

#pricing-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}

th, td {
    padding: 20px;
    width: 25%;
    border-width: 1px;
    border-style: solid;
    vertical-align: middle;
}

th {
    background: #333;
    color: #ccc;
    border-color: #222;
    font-weight: 300;
}

td {
    background: #fff;
    border-color: #ccc;
}

tfoot td {
    background: none;
    border: 0;
}

tfoot button {
    background: #ff4141;
    border: 0;
    display: block;
    width: 100%;
    padding: 25px 0;
    font-size: 22px;
    font-family: 'Roboto Slab', sans-serif;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 2px #B11B1B;
}

th.empty, td.empty {
    background: none;
    border: 0;
}

td.price {
    font-weight: 700;
}

.price .sub {
    font-weight: 300;
}

/*-----------
#features
------------*/

.tabs {
    margin: 100px 0 50px 0;
}

.tabs ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.tabs li {
    padding: 0;
    margin: 0;
}

.tabs li img {
    display: block;
    margin: 0 auto 25px auto;
    cursor: pointer;
}

.tabs li a {
    color: #ccc;
    font-weight: 700;
    font-size: 22px;
    display: block;
    padding: 25px 0;
}

.tabs li.active a {
    background: #fff;
    color: #222;
}

#tabs-container {
    background: #fff;
    color: #222;
    padding: 50px;
}

/*-----------
#Site-Footer
------------*/

#site-footer {

}

#site-footer p {

}



/*-------------
Page – Generic
--------------*/



/*--------
Tooltipsy
---------*/

.tooltipsy {
background: #333;
padding: 25px;
color: #FFF;
}