@media (max-width: 768px) {

}

@media (max-width: 480px) {

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
padding: 0;
margin-left: 0;
width: 100% !important;
}

/* 480px End */
}

@media (max-width: 320px) {



/* 320px End */
}